/*Reseting margin and padding, we cann't do this in the body because margin and padding are not inherited to the texts so we use the universal selector to apply the margin and padding reseting to every element */

* {
  margin: 0;
  padding: 0;
}

/*PAGE SECTIONS*/
body {
  font-family: sans-serif;
  color: #444;
  position: relative;
}

.container {
  width: 800px;
  /*margin-left and margin-right: auto that means to calculate the margin on both side automatically and that will center all the elements*/
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.main-header {
  background-color: #e2e0e0;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px; /*20 up-bottom, 40 left and right*/
  margin-bottom: 60px;
  /* height: 80px; */ /*without this the element expands due to display block for the nav a:link*/
}

nav {
  font-size: 18px;
  text-align: center;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #e2e0e0;
  border: 5px solid #1098ad;
  border-radius: 2cqi;
  padding: 50px 0;
  width: 500px;
}

/*SMALLER ELEMENTS*/
h1,
h2,
h3,
h4,
p,
li {
  /* color: #444;Or: 444 is a shorthand to 444444 */
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px; /* it is not necessary to h1 to be the biggest font*/
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0; /* 0 doesn't need px */
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* for the third child */
li:nth-child(3) {
  color: blue;
}

/* (even) */
/*li:nth-child(odd)   
{
  color: red;
} */
/*Misconception: this won't work! 
because p is not the first child in article  but it will work in this case if we choose p:last-child because p is really 
the last child*/
article p:first-child {
  color: rgb(
    43,
    226,
    52
  ); /*must <p> be the first child so it must be before the <header> in our example */
}
article p:last-child {
  color: rgb(43, 226, 52);
}

/*Styling links*/
a:link /* for a href attribute */ {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: rgb(255, 0, 242);
  font-weight: bold;
  text-decoration: underline wavy rgb(19, 12, 9);
}

a:active {
  background-color: rgb(235, 232, 84);
  font-style: italic;
}

/* LVHA: link, visited, hover, active*/

.post-img {
  /*img is an inline-block*/
  width: 50%;
  height: auto;
  /* margin: 100px; */
}

nav a:link {
  /* background-color: orangered; */
  /* margin: 20px; just for left and right but for top and bottom No because it is inline-block and not block model */
  /* padding: 20px; We see that top and bottom expanded but it is just inside because it is padding */
  /* display: block; */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  /*the position will depend on the parent element so we need to put the position on the parent to be relative because we put the left and top to 50px and it put the button depend on the viewport of the page and not depending on the parent of the button (body in our case)*/
  position: absolute;
  /* top: 50px;
  left: 50px; */
  bottom: 50px;
  right: 50px;
}

/*Pseudo elements*/
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/*Adjusting Sibling*/
h3 + p::first-line {
  /*here only the p that comes after h3 will be selected*/
  font-weight: bold;
}

/*After Pseudo element: we create an element using it,It is often used to add cosmetic content to an element with the content property*/

h2::after {
  /*Or before Pseudo element if we want*/
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block; /*it is already inline*/
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -25px;
}

/* h2::first-letter {
  font-size: 80px;
} */

/* Recolving conflicts */
/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} */
